html,body{
    height:100%;
    width:100%;
}

.nome_perfil{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 4rem;
}

h1{
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

h2{
    padding: 1rem;
    font-size: 0.5rem;
    font-weight: bold;
}

.icone_meu_perfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mapa{
    width:50%;
    border: solid black 1px;
    margin: 8px;
    height: 8rem;
}