html,body{
    height:100%;
    width:100%;
}
html,nav{
    padding-left: 1rem;
}
html, header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 8rem;
}

h1{
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

h2{
    padding: 1rem;
    font-size: 0.5rem;
    font-weight: bold;
}

.icone_meu_perfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mapa{
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: 8rem;
}