html,body{
    height:100%;
    width:100%;
}

html,nav{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

html, header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 8rem;
    background: #E6E4E6;
}

.header_menor{
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

h1{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #2E406B;
}

h2{
    padding: 1rem;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.h6{
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.icone_meu_perfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icone{
    width: 5rem;
    height: 5rem;
}

.mapa{
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: 35rem;
}

.especialidades{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 0.5rem;
}

.procurar{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 0.5rem;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #2E406B;
    border-radius: 1rem;
}

form.example input[type=text] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.05rem solid grey;
    float: left;
    width: 10rem;
    height: 1rem;
    background: #f1f1f1;
    border-radius: 0.5rem;
}

form.example button {
    float: right;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    background: #2E406B;
    color: white;
    border: 0.05rem solid grey;
    cursor: pointer;
    border-radius: 1rem;

}

.voltar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.titulos{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 15rem;
    border-radius: 0.3rem;
    background: #35709C;
}

.descricoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.consultorio{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    border-top-width: 0.2rem;
    border-top-style: solid;
    border-top-color: black;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 1rem;
    background: #728EA4;
}

.editar{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    flex-direction: row;
    margin-top: 1rem;
}

hr{
	border-width: 0; 
	height: 1rem;
	border-top-width: 1rem;
    font-family: 'Lato', sans-serif;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.itens{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #2E406B;
    border-radius: 1rem;
    margin: 0.5rem;
}

.topicos{
    font-size: 1.5rem;
    font-weight:bold;
    font-style:oblique;
}

.borda{
    margin: 2rem;
    border-top: solid black;
    border-bottom: solid black;
}

.txt{
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: 5rem;
    font-family: 'libre baskerville', serif;
}

.imagem{
    width: 5rem;
    height:5rem;
}

h4{
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 40%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #2E406B;
    border-radius: 1rem;
} 

html, section{
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

h3{
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.imagem2{
    width: 2rem;
    height:2rem;
}

.chat{
    width: 20rem;
    height:35rem;
}

h5{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #2E406B;
    border-radius: 1rem;
    margin: 0.5rem;
    font-family: 'Lato', sans-serif;
} 

h6{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.imagem3{
    width: 5rem;
    height:5rem;
}

/* 
    background: #2196F3;

2E406B
E6E4E6
35709C
728EA4
4D5D90
 */